        <section class="bottom-foot">
            <nav>
                <a href="/" class="nav-item">
                    <svg class="icon nav-icon">
                        <use xlink:href="/img/icons.svg#navbar-home"></use>
                    </svg>
                </a>
                <a href="/categories" class="nav-item">
                    <svg class="icon nav-icon">
                        <use xlink:href="/img/icons.svg#navbar-collections"></use>
                    </svg>
                </a>
                <a class="nav-item">
                    <svg class="icon nav-icon">
                        <use xlink:href="/img/icons.svg#navigation-hamburger"></use>
                    </svg>
                </a>
            </nav>
        </section>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/gsap.min.js"></script>
        <script src="/script.js"></script>
    </body>
</html>