<%- include('./partials/head') %>

<section class="top-content">
    <h2 class="collection-top"><span id="back-button" class="back-button"><i class="fa fa-chevron-left" aria-hidden="true"></i></span><%= item.attributes.title %></h2>
</section>

<section>
    <div class="recommended-podcast-container">
        <div class="recommended-podcast">
            <h3><%= item.attributes.title %></3>
        </div>
        <p class="auteur">Naam auteur</p>
    </div>
</section>

<section class=".bottom-margin">
    <ul class="playable-podcast-container">

        <% if (itemData && itemData.length) { %>
            <% itemData.forEach(item => { %>
                <!-- Playable podcast item -->
                <li class="playable-podcast-item">
                    <div class="playable-podcast-image">
                        <!-- Hier komt de image cover van de podcast -->
                    </div>
                    <div class="playable-podcast-title">
                        <a href="/sound"><p>Dit is een titel van een podcast! Dit kan best lang zijn.</p></a>
                        <div class="progress-line">
                            <div class="progress-line-value-50"></div>
                        </div>
                    </div>
                    <div class="playable-podcast-button">
                        <div class="play-button">
                            <i class="pause-icon fa fa-pause" aria-hidden="true"></i>
                        </div>
                    </div>
                </li>
            <% }); %>
        <% } else { %>
            <p class="error">Error loading podcasts</p>
        <% } %>

    </ul>
</section>


<%- include('./partials/foot') %>