<%- include('./partials/head') %>

<section class="top-content">
    <h2 class="collection-top"><a href="/" class="back-button"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>Naam collectie</h2>
</section>

<section>
    <div class="recommended-podcast-container">
        <div class="recommended-podcast">
            <h3>Dit is een titel van een podcast! Dit kan best lang zijn.</3>
        </div>
        <p class="auteur">Naam auteur</p>
    </div>
</section>

<section>
    <ul class="playable-podcast-container">

        <!-- Playable podcast item -->
        <li class="playable-podcast-item">
            <div class="playable-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="playable-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
                <div class="progress-line">
                    <div class="progress-line-value-50"></div>
                </div>
            </div>
            <div class="playable-podcast-button">
                <div class="play-button">
                    <i class="pause-icon fa fa-pause" aria-hidden="true"></i>
                </div>
            </div>
        </li>

        <!-- Playable podcast item -->
        <li class="playable-podcast-item">
            <div class="playable-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="playable-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
                <div class="progress-line">
                    <div class="progress-line-value-0"></div>
                </div>
            </div>
            <div class="playable-podcast-button">
                <div class="play-button">
                    <div class="play-button">
                        <i class="play-icon fa fa-play" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </li>

        <!-- Playable podcast item -->
        <li class="playable-podcast-item">
            <div class="playable-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="playable-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
                <div class="progress-line">
                    <div class="progress-line-value-0"></div>
                </div>
            </div>
            <div class="playable-podcast-button">
                <div class="play-button">
                    <div class="play-button">
                        <i class="play-icon fa fa-play" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </li>

        <!-- Playable podcast item -->
        <li class="playable-podcast-item">
            <div class="playable-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="playable-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
                <div class="progress-line">
                    <div class="progress-line-value-25"></div>
                </div>
            </div>
            <div class="playable-podcast-button">
                <div class="play-button">
                    <div class="play-button">
                        <i class="play-icon fa fa-play" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </li>

        <!-- Playable podcast item -->
        <li class="playable-podcast-item">
            <div class="playable-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="playable-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
                <div class="progress-line">
                    <div class="progress-line-value-0"></div>
                </div>
            </div>
            <div class="playable-podcast-button">
                <div class="play-button">
                    <div class="play-button">
                        <i class="play-icon fa fa-play" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </li>

        <!-- Playable podcast item -->
        <li class="playable-podcast-item">
            <div class="playable-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="playable-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
                <div class="progress-line">
                    <div class="progress-line-value-0"></div>
                </div>
            </div>
            <div class="playable-podcast-button">
                <div class="play-button">
                    <div class="play-button">
                        <i class="play-icon fa fa-play" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </li>

        <!-- Playable podcast item -->
        <li class="playable-podcast-item">
            <div class="playable-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="playable-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
                <div class="progress-line">
                    <div class="progress-line-value-0"></div>
                </div>
            </div>
            <div class="playable-podcast-button">
                <div class="play-button">
                    <div class="play-button">
                        <i class="play-icon fa fa-play" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </li>

        <!-- Playable podcast item -->
        <li class="playable-podcast-item">
            <div class="playable-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="playable-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
                <div class="progress-line">
                    <div class="progress-line-value-0"></div>
                </div>
            </div>
            <div class="playable-podcast-button">
                <div class="play-button">
                    <div class="play-button">
                        <i class="play-icon fa fa-play" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </li>

        <!-- Playable podcast item -->
        <li class="playable-podcast-item">
            <div class="playable-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="playable-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
                <div class="progress-line">
                    <div class="progress-line-value-0"></div>
                </div>
            </div>
            <div class="playable-podcast-button">
                <div class="play-button">
                    <div class="play-button">
                        <i class="play-icon fa fa-play" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </li>

        <!-- Playable podcast item -->
        <li class="playable-podcast-item">
            <div class="playable-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="playable-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
                <div class="progress-line">
                    <div class="progress-line-value-0"></div>
                </div>
            </div>
            <div class="playable-podcast-button">
                <div class="play-button">
                    <div class="play-button">
                        <i class="play-icon fa fa-play" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </li>

        <!-- Playable podcast item -->
        <li class="playable-podcast-item">
            <div class="playable-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="playable-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
                <div class="progress-line">
                    <div class="progress-line-value-0"></div>
                </div>
            </div>
            <div class="playable-podcast-button">
                <div class="play-button">
                    <div class="play-button">
                        <i class="play-icon fa fa-play" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</section>


<%- include('./partials/foot') %>