<%- include('./partials/head') %>

<section>
    <h2>Podcasts</h2>

    <div class="horizontal-flex-scroll-container">

        <!-- Horizontal podcast item -->
        <div class="horizontal-flex-item">
            <div class="horizontal-flex-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="horizontal-flex-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
            </div>
        </div>

        <!-- Horizontal podcast item -->
        <div class="horizontal-flex-item">
            <div class="horizontal-flex-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="horizontal-flex-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
            </div>
        </div>

        <!-- Horizontal podcast item -->
        <div class="horizontal-flex-item">
            <div class="horizontal-flex-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="horizontal-flex-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
            </div>
        </div>

        <!-- Horizontal podcast item -->
        <div class="horizontal-flex-item">
            <div class="horizontal-flex-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="horizontal-flex-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
            </div>
        </div>

        <!-- Horizontal podcast item -->
        <div class="horizontal-flex-item">
            <div class="horizontal-flex-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="horizontal-flex-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
            </div>
        </div>

    </div>

</section>

<section>
    <h2>Popular</h2>

    <div class="populair-podcasts-container">
        <div class="horizontal-category-container">
            <p class="category-item active-category">All</p>
            <p class="category-item">Economie</p>
            <p class="category-item">Politiek</p>
            <p class="category-item">Technologie</p>
            <p class="category-item">Andere landen</p>
            <p class="category-item">Goeie gesprekken</p>
            <p class="category-item">Interviews</p>
            <p class="category-item">Klimaat</p>
            <p class="category-item">Conflicten</p>
        </div>
    </div>

    <ul class="playable-podcast-container">

        <!-- Playable podcast item -->
        <li class="playable-podcast-item">
            <div class="playable-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="playable-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
                <div class="progress-line">
                    <div class="progress-line-value-50"></div>
                </div>
            </div>
            <div class="playable-podcast-button">
                <div class="play-button">
                    <i class="pause-icon fa fa-pause" aria-hidden="true"></i>
                </div>
            </div>
        </li>

        <!-- Playable podcast item -->
        <li class="playable-podcast-item">
            <div class="playable-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="playable-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
                <div class="progress-line">
                    <div class="progress-line-value-0"></div>
                </div>
            </div>
            <div class="playable-podcast-button">
                <div class="play-button">
                    <div class="play-button">
                        <i class="play-icon fa fa-play" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </li>

        <!-- Playable podcast item -->
        <li class="playable-podcast-item">
            <div class="playable-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="playable-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
                <div class="progress-line">
                    <div class="progress-line-value-0"></div>
                </div>
            </div>
            <div class="playable-podcast-button">
                <div class="play-button">
                    <div class="play-button">
                        <i class="play-icon fa fa-play" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </li>

        <!-- Playable podcast item -->
        <li class="playable-podcast-item">
            <div class="playable-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="playable-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
                <div class="progress-line">
                    <div class="progress-line-value-25"></div>
                </div>
            </div>
            <div class="playable-podcast-button">
                <div class="play-button">
                    <div class="play-button">
                        <i class="play-icon fa fa-play" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </li>

        <!-- Playable podcast item -->
        <li class="playable-podcast-item">
            <div class="playable-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="playable-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
                <div class="progress-line">
                    <div class="progress-line-value-0"></div>
                </div>
            </div>
            <div class="playable-podcast-button">
                <div class="play-button">
                    <div class="play-button">
                        <i class="play-icon fa fa-play" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </li>

    </ul>
    
</section>

<section>
    <h2>Recommended</h2>

    <div class="recommended-podcast-container">
        <div class="recommended-podcast">
            <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
        </div>
    </div>
</section>


<%- include('./partials/foot') %>