<%- include('./partials/head') %>

<section>
    <h2>Podcasts</h2>

    <div class="horizontal-flex-scroll-container">

        <!-- Horizontal podcast item -->
        <div class="horizontal-flex-item">
            <div class="horizontal-flex-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="horizontal-flex-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
            </div>
        </div>

        <!-- Horizontal podcast item -->
        <div class="horizontal-flex-item">
            <div class="horizontal-flex-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="horizontal-flex-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
            </div>
        </div>

        <!-- Horizontal podcast item -->
        <div class="horizontal-flex-item">
            <div class="horizontal-flex-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="horizontal-flex-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
            </div>
        </div>

        <!-- Horizontal podcast item -->
        <div class="horizontal-flex-item">
            <div class="horizontal-flex-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="horizontal-flex-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
            </div>
        </div>

        <!-- Horizontal podcast item -->
        <div class="horizontal-flex-item">
            <div class="horizontal-flex-podcast-image">
                <!-- Hier komt de image cover van de podcast -->
            </div>
            <div class="horizontal-flex-podcast-title">
                <p>Dit is een titel van een podcast! Dit kan best lang zijn.</p>
            </div>
        </div>

    </div>

</section>

<section>
    <h2>Popular</h2>

    <div class="populair-podcasts-container">
        <div class="horizontal-category-container">
            <p class="category-item active-category">All</p>
            <p class="category-item">Economie</p>
            <p class="category-item">Politiek</p>
            <p class="category-item">Technologie</p>
            <p class="category-item">Andere landen</p>
            <p class="category-item">Goeie gesprekken</p>
            <p class="category-item">Interviews</p>
        </div>
    </div>
    
</section>

<%- include('./partials/foot') %>