<%- include('./partials/head') %>

<section class="top-content">
    <h2 class="collection-top"><button id="back-button" class="back-button"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>Sound name</h2>
</section>

<section>
    <div class="selected-podcast-container">
        <div class="selected-podcast">
            <h3>Sound name</3>
        </div>
        <p class="auteur">Naam auteur</p>
    </div>
</section>

<%- include('./partials/foot') %>