<%- include('./partials/head') %>

<section class="top-content">
    <h2 class="collection-top"><button id="back-button" class="back-button"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>Collection name</h2>
</section>

<section>
    <div class="selected-podcast-container">
        <img id="needle" class="needle" src="/img/needle.png">
        <div id="selected-podcast" class="selected-podcast">
            <img src="https://www.udiscovermusic.com/wp-content/uploads/2022/01/sgt-pepper.jpg" class="selected-podcast-image">
            <div class="image-center">
                <p></p>
            </div>
        </div>
        <div class="white-button-container">
            <button id="white-play-button" class="white-play-button"><span id="button-content"><i class="btn-side-margin fa fa-play" aria-hidden="true"></i> Afspelen</span></button>
        </div>
    </div>
</section>

<section class="center-content">
    <h2 class="smaller-width">Titel van de aflevering, misschien is die wel lang.</h2>
    <p class="auteur">Naam auteur(s)</p>
    <p class="smaller-width">Dit is even een snelle samenvatting van de aflevering. Hierin staat wie er spreekt en wat het onderwerp is. Voor sommige mensen is dit wel interresant om te weten.</p>

</section>

<%- include('./partials/foot') %>