<%- include('./partials/head') %>

<section class="top-content">
    <h2 class="collection-top"><button id="back-button" class="back-button"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>Collection name</h2>
</section>

<section>
    <div class="selected-podcast-container">
        <div class="selected-podcast">
            <img src="https://www.udiscovermusic.com/wp-content/uploads/2022/01/sgt-pepper.jpg" class="selected-podcast-image">
            <div class="image-center">
                <p></p>
            </div>
        </div>
        <div class="white-button-container">
            <button class="white-play-button"><i class="btn-side-margin fa fa-play" aria-hidden="true"></i> Afspelen</button>
        </div>
    </div>
</section>

<section class="center-content">
    <p class="auteur">Naam auteur(s)</p>
    <h2 class="smaller-width">Titel van de aflevering, misschien is die wel lang.</h2>

</section>

<%- include('./partials/foot') %>