@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=IBM+Plex+Mono:wght@300;400&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

:root {
    --white: #f2f2f2;
    --BGcolor: #ededed;
    --fontColor: #020202;
    --black: #020202;
    --grey: #757575;

    --c-primairy: #DF5B57;
    --c-secondary: #ededed;
    --c-tertiary: #93AFBB;
    --c-fourthary: #fff;
    font-size: 16px;
}

.dark-mode {
    --BGcolor: #020202;
    --fontColor: #E2E2E2;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--BGcolor);
    color: var(--fontColor);
    font-family: 'Open+Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Typography */
a {
    text-decoration: none;
    color: var(--fontColor);
}

h2 {
    margin: .8rem;
    padding: 0;
    font-size: 1.2rem;
}

p {
    margin: 0;
    padding: 0;
}

.horizontal-flex-podcast-title p {
    margin-top: .4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playable-podcast-title p {
    padding: 0rem .4rem;
    line-height: 1rem;
}

.recommended-podcast h3 {
    position: absolute;
    bottom: 0;
    padding: .5rem;
    margin: 0;
    text-shadow: 0px 4px 4px #3a3a3a;
    color: var(--white);
    width: 60%;
    font-size: 1rem;
    font-weight: 500;
}

.recommended-podcast-container p {
    color: var(--c-primairy);
    padding: .5rem;
    margin: 0;
}

.error {
    color: var(--c-primairy);
}

/* header styling */
header {
    padding: 0rem .8rem;
    margin-bottom: -2rem;
    display: flex;
}

.site-logo {
    fill: var(--fontColor);
    width: 10rem;
    margin-top: -2.5rem;
}

/* Horizontal flex */
.horizontal-flex-scroll-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    max-width: 100%;
    padding: 0rem 0rem 1.2rem .8rem;
}

  .horizontal-flex-item {
    flex: 0 0 auto;
    width: 8rem;
    height: 12rem;
    margin-right: .8rem;
}

.horizontal-flex-podcast-image {
    position: relative;
    height: 11rem;
    background-color: var(--c-tertiary);
}

.horizontal-flex-podcast-title {
    height: 1rem;
}

.padcast-image-cover {
    position: absolute;
    width: 8rem;
    height: 11rem;
    object-fit: cover;
}

/* Horizontal categories */
.horizontal-category-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    max-width: 100%;
    padding: 0rem 0rem 1.2rem .8rem;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
  }

.horizontal-category-container::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.category-item {
    flex: 0 0 auto;
    margin-right: .8rem;
    padding: .2rem 0rem;
}

.active-category {
    background-color: var(--fontColor);
    color: var(--BGcolor);
    border-radius: 10px;
    padding: .2rem .5rem;
}

/* playable podcast */
.playable-podcast-container {
    list-style: none;
    padding: 0.8rem;
    margin: 0;
    margin-top: -1rem;
}
  
.playable-podcast-item {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: .8rem;
}
  
.playable-podcast-image {
    width: 3rem;
    height: 3rem;
    background-color: var(--c-tertiary);
}
  
.playable-podcast-title {
    flex: 1;
}
  
.playable-podcast-button {
    width: 3rem;
    height: 3rem;
}

.play-button {
    background-color: var(--c-primairy);
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.play-icon {
    margin-left: .1rem;
}

.progress-line {
    width: 94%;
    margin-left: .4rem;
    height: 4px;
    background-color: var(--c-secondary);
    border-radius: 2px;
    overflow: hidden;
    margin-top: .4rem;
}

.progress-line-value-0 {
    width: 0%;
    height: 100%;
    background-color: var(--c-primairy);
    transition: width 0.3s ease;
}

.progress-line-value-25 {
    width: 25%;
    height: 100%;
    background-color: var(--c-primairy);
    transition: width 0.3s ease;
}
  
.progress-line-value-50 {
    width: 50%;
    height: 100%;
    background-color: var(--c-primairy);
    transition: width 0.3s ease;
}

.progress-line-value-75 {
    width: 75%;
    height: 100%;
    background-color: var(--c-primairy);
    transition: width 0.3s ease;
}

/* Recommended podcast */
.recommended-podcast-container {
    padding: 0rem .8rem .8rem .8rem;
    margin-bottom: 6rem;
}

.recommended-podcast {
    background-color: var(--c-tertiary);
    height: 10rem;
    position: relative;
}

.auteur {
    color: var(--c-primairy);
    padding: .8rem;
}

/* Collection page styling */
.collection-top {
    padding-top: 0;
}

.back-button {
    color: var(--c-primairy);
    margin-right: 2rem;
}

.top-content {
    margin-top: 1.5rem;
}

/* Sound page styling */
.selected-podcast-container {
    padding: 0rem .8rem .8rem .8rem;
    margin-bottom: 1rem;
}

.selected-podcast {
    background-color: var(--c-tertiary);
    height: 20rem;
    position: relative;
}

/* Styling footer */
.bottom-foot {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--BGcolor);
    border-top: solid 1px var(--c-tertiary);
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
}

.nav-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--fontColor);
    padding: 0rem 3rem;
    margin-bottom: 1.5rem;
}